<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.linker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".huluWeb"></activity>
        <activity android:name=".motionWeb" />
        <activity android:name=".netflixWeb" />
        <activity android:name=".utubeWeb" />
        <activity android:name=".ganaWeb" />
        <activity android:name=".hungWeb" />
        <activity android:name=".cloudWeb" />
        <activity android:name=".spotiWeb" />
        <activity android:name=".gurdWeb" />
        <activity android:name=".cnnWeb" />
        <activity android:name=".nyWeb" />
        <activity android:name=".bbcWeb" />
        <activity android:name=".skyWeb" />
        <activity android:name=".foxWeb" />
        <activity android:name=".aryWeb" />
        <activity android:name=".cbWeb" />
        <activity android:name=".espnWeb" />
        <activity android:name=".VideosActivity" />
        <activity android:name=".MusicActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".SportsActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>